<div class="row marketing">
 <!-- <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>
-->

  <div class="span4">
    <div class="well">
      <p translate="TITLE" class="ng-scope">Hello</p>
      <p translate="FOO" class="ng-scope">This is a paragraph.</p>
      <p>{{pageTitle}}</p>
      <div ng-repeat="object in objects">{{object.title}} {{object.subject}}</div>
    </div>
    <div  class="ng-scope">
      <button class="btn ng-scope" ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN">english</button>
      <button class="btn ng-scope" ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE">german</button>
    </div>
  </div>
</div>
